name: Release Binaries
on:
  push:
    tags:
      - 'v*'
jobs:
  Create-Binary:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Main Branch
        uses: actions/checkout@v4
        with:
          ref: main

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'
      
      - name: Build Go Plugins
        env:
            GOOS: linux
            GOARCH: amd64
            CGO_ENABLED: 1
        run: go build -buildmode=plugin -o my-app.so ./main.go
      
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.AUTH_TOKEN }}
          file: my-app.so
          asset_name: my-app.so
          tag: ${{ github.ref }}
          overwrite: true
          body: "This is my release text"
